{#
/**
 * @file
 * Theme override to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 */
#}
<div{{ attributes.addClass(term.bundle, view_mode) }}>
  <header>
      {% if content.field_page_title[0] %}
        <h1 class="page-title">{{ content.field_page_title[0] }}</h1>
      {% else %}
        <h1 class="page-title">{{ label[0] }}</h1>
      {% endif %}

      {% if content.field_sub_title[0] %}
        <h2 class="sub-title">{{ content.field_sub_title[0] }}</h2>
      {% endif %}
  </header>
  <div class="block-view-wrapper">
  {{ drupal_block('views_block:categories-categories_by_parent', wrapper=false) }}
  </div>
  {{ content|without('field_page_title', 'field_sub_title') }}
</div>
