{#
/**
 * @file
 * Theme override to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 */
#}
<div{{ attributes.addClass(term.bundle, view_mode) }}>
  {% if content.field_image[0] %}
    <a href="{{ url }}" title="{{ name[0] }}">
      <figure>
          {{ content.field_image[0] }}
        <figcaption>
          <h3>{{ name[0] }}</h3>
            {{ content|without('field_image') }}
        </figcaption>
      </figure>
    </a>
  {% endif %}
</div>
