{#
/**
 * @file
 * Theme override for a view template to display a list of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this list.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 * - list: @todo.
 *   - type: Starting tag will be either a ul or ol.
 *   - attributes: HTML attributes for the list element.
 *
 * @see template_preprocess_views_view_list()
 */
#}
{% if attributes -%}
  <div{{ attributes }}>
{% endif %}
  {% if title %}
    <h3>{{ title }}</h3>
  {% endif %}

  <{{ list.type }}{{ list.attributes }}>
    {% set multiplier =  1 %}
    {% for row in rows %}
      {% set delay =  100 %}
      <li{{ row.attributes }} data-aos="fade-up" data-aos-delay="{{ delay * multiplier }}">
        {{- row.content -}}
      </li>
      {% set multiplier = multiplier + 1 %}
      {% if loop.index is divisible by(3) %}
        {% set multiplier =  1 %}
      {% endif %}
    {% endfor %}

  </{{ list.type }}>

{% if attributes -%}
  </div>
{% endif %}
