// Non-modular or client styles for .l-footer region.
#footer{
  padding: 15px;
  font-family: $extra-font-family;
  letter-spacing: 1.43px;
  @include max-inner-container();
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: rem-calc(13);
  font-weight: 300;
  justify-content: space-between;
  flex-direction: column;
  @include breakpoint(mediumplus){
    flex-direction: row;
  }
  h3, p {
    margin-bottom: 0;
  }
  @include breakpoint(smedium down){

    margin-bottom: 25px;
  }
  @include breakpoint(mediumplus){
    display: flex;
    flex-direction: row;
  }
.region-footer-last, .region-footer-middle, .region-footer-first{
  @include flex-grid-column(1 of 1);
  @include breakpoint(mediumplus){
    @include flex-grid-column(1 of 3);
  }
}
  .region-footer-first, .region-footer-middle {
    margin-bottom: 30px;
    @include breakpoint(mediumplus){
      margin-bottom: 0;
    }
  }
  .region-footer-first {
    @include breakpoint(xlarge){
      @include flex-grid-column(19 of 48);
    }
  }
  .region-footer-middle {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    @include breakpoint(xlarge){
      @include flex-grid-column(10 of 48);
    }
    .block-sitebranding-footer {
      display: flex;
      justify-content: center;
    }
  }
  .region-footer-last{
      display: flex;
      align-items: center;
      justify-content: center;
      @include breakpoint(mediumplus){
        justify-content: flex-end;
      }
      @include breakpoint(xlarge){
        @include flex-grid-column(19 of 48);
      }

    }
    .linkicon{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 10px;
    }
    .contact-details-inner{
      @include flex-grid-row('nest');
      justify-content: center;
      text-align: center;
      flex-direction: column;
      @include breakpoint(medium){
        flex-direction: row;
      }
      @include breakpoint(mediumplus){
        text-align: left;
        justify-content: flex-start;
        flex-direction: column;
      }
      @include breakpoint(xlarge){
        flex-direction: row;
      }
      &>div {
        @include grid-col-gutter();
        margin-bottom: 20px;
        @include breakpoint(medium){
          margin-bottom: 0;
        }
        @include breakpoint(mediumplus){
          margin-bottom: 20px;
        }
        @include breakpoint(xlarge){
          margin-bottom: 0;
        }
      }
      &>.basic-info>h3{
        font-size: 13px;
        font-family: $extra-font-family;
        letter-spacing: 1.43px;
        line-height: 1.6;
      }
    }
}


nav#block-footer{
  ul.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    li{
      a{
        font-size: rem-calc(12);
        padding: 5px 7px;
        text-align: center;
        @include breakpoint(mediumplus){
          text-align: right;
        }
      }
    }
  }
}
#footer{
  a{
    color: black;
    transition: 0.3s ease;
    &:hover{
      color: #cccccc;
    }
  }
}

div#edit-field-categories-target-id{
  .form-item-field-categories-target-id{
    input{
      display: none;
    }
    label{
      margin-left: 0px;
      padding-left: 0px;
    }
  }
}
