// Non-modular or client styles for .l-header region.
#header-wrapper {
  position: absolute;
  z-index: 5;
  width: 100%;
  display: block;
  left: 0;
  right: 0;
  top: 0;

  @include max-container();
}

.path-frontpage{
  #header-wrapper {
    background-color: black;
  }
  .off-canvas-content{

    margin-top: 60px;

    @include breakpoint(large){
      margin-top: 85px;
    }
    @include breakpoint(xlarge){
      margin-top: 100px;
    }
  }
}
#header {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px;
  padding-bottom: 0;
  @include max-inner-container();
  padding-top: 25px;
 // max-width: 1660px!important;
  @include breakpoint(large) {
    margin-top: 0px;
    padding-top: 50px;

  }
  @include breakpoint(xxlarge){
    margin-left: auto;
    margin-right: 0;
  }

  .block-system-branding-block {
    z-index: 100;
    margin-top: 0px;
    @include breakpoint(xlarge){
      position: absolute;
      top: 6px;

    }
    @include breakpoint(xxlarge){
      position: static;
    }
    path {
      fill: $white;
    }
  }
}

.button-wrapper {
  z-index: 100;

  span,
  button {
    outline: none;
  }
}

#navs {
  &.close {
    transform: translate(100%, 100%);
  }

  @include breakpoint(large) {
    &.close {
      transform: translate(100%, 0);
    }
  }

  @include breakpoint(xlarge) {
    &.close {
      transform: translate(0, 0);
    }
  }

  @include breakpoint(xlarge) {
    display: block !important;
  }
}

.is-submenu-parent-item {
  background-color: $white;

  a {
    color: black !important;
  }
}

.open,
.close {
  z-index: 10;
  left: 0;
  padding-bottom: 15px;
  height: calc(365px + 31.25px * 2);
  right: 0;
  left: auto;
  z-index: 95;
  bottom: 0;
  position: absolute;
  @include breakpoint(xlarge){
    position: static;
  }
  &.open {
    transform: translate(0, 100%);
  }

  transform: translate(100%, 100%);
  transition: transform .25s ease-out;

  // @include breakpoint(xlarge down){
  //   bottom: 0;
  //     &.open{
  //     transform: translate(0, 100%);
  //   }
  //   transform: translate(100%, 100%);
  //   transition: transform .25s ease-out;
  // }
  @include breakpoint(mediumplus) {
    bottom: 0;
  }

  @include breakpoint(large) {
    bottom: 100px;
    top: -15px;

    &.open {
      transform: translate(0, 0);
    }

    transform: translate(0, 0);
  }

  @include breakpoint(xlarge) {
    .block-categorymenu>ul a::after {
      display: none;
    }

    width: auto;
    right: 0;
    top: calc(80px / 2);
    left: auto;
    padding-bottom: 0;
    height: auto;
    background-color: transparent;

    nav {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }

  @include breakpoint(xxlarge) {
    top: 75px;
    padding-top: 0;
    margin-top: calc(-69.2px/3);
  }

  .block-base-main-menu {
    padding-left: 15px;
    padding-right: 50px;
    background-color: rgba($black, 0.9);

    @include breakpoint(medium) {
      padding-left: 50px;
      padding-right: 150px;
    }

    @include breakpoint(large) {
      padding-top: 75px;
    }

    @include breakpoint(xlarge) {
      padding: 0;
      background-color: transparent;
    }

    &>ul {
      padding: 5px 0;
      flex-direction: column;

      @include breakpoint(xlarge) {
        flex-direction: row;
      }

      li {
        padding: 0;
        margin: 0;
      }

      a {
        font-size: 12px;
        font-family: $font-link;
        font-weight: 400;
      }
    }
  }


  &>div {
    &>nav>ul {
      display: flex;

      &>li>a {
        font-size: 12px;
        font-family: $font-link;
        font-weight: 400;
        letter-spacing: 2.62px;
        text-transform: uppercase;
        @include link($white, lighten($black, 75%));
      }
    }

    &>:last-child {
      ul {
        margin: 0;
        border: none;
      }
    }

    &>:first-child {
      border-bottom: 1px solid $white;
    }
  }


  .block-categorymenu {
    .js-drilldown-back {
      margin-top: 3px !important
    }

    width: 100%;

    @include breakpoint(large) {
      .js-drilldown-back {
        display: none;
      }

      .is-dropdown-submenu {
        display: flex;
        flex-direction: column;
      }
    }

    @include breakpoint(xlarge) {
      .is-dropdown-submenu {
        top: 100% !important;
      }

      &>ul>li>a::after {
        display: none !important;
      }
    }

    .is-drilldown {
      ul {

        padding: 5px 15px;
        padding-right: 0;
        background-color: rgba($black, 0.9);

        &.is-active {
          background-color: rgba($black, 0.9);
          padding: 0;

          li {
            padding: 0 15px;
          }
        }

        ul>li>a::before {
          border-color: transparent $white transparent transparent;
        }
      }

      &>ul {
        padding-bottom: 25px;
      }

      a {
        background-color: transparent !important;
        @include link($white, lighten($black, 75%));
        font-family: $extra-font-family;
        text-transform: uppercase;
        letter-spacing: 2.62px;

        @include breakpoint(medium) {
          padding-left: 50px;
          padding-right: 150px;
        }

        &::after {
          border-color: transparent $white;
        }


      }

      max-width: 100% !important;
    }
  }

  .block-categorymenu>ul>li {
    height: 100%;
    display: block;

    ul {
      visibility: hidden;
      transition: opacity 0.2s ease;
      display: flex;
      opacity: 1;
      width: 100%;
      right: 27px !important;
      left: auto !important;

      li {
        display: block;
        height: 100%;

        &:first-child a,
        &:nth-child(2) a {
          border-top: 1px solid $white;
        }
      }

      a {
        visibility: hidden;
        opacity: 0;
        font-family: $extra-font-family;
        text-transform: uppercase;
        text-align: right;
        letter-spacing: 2.62px;
        font-weight: 500;
        font-size: 16px;
        @include link($white, lighten($black, 75%));
        right: 0;
        white-space: normal;
        border-bottom: 1px solid $white;
        overflow-wrap: normal;
      }
    }

    .js-dropdown-active,
    .js-dropdown-active a {
      visibility: visible;
      opacity: 1;
    }

    &>a {
      color: $white !important;

      &:hover {
        color: #CDCCCD !important
      }

      padding: 10px 15px;
      position: relative;

      &::after {
        display: none;
        // position: absolute;
        // display: block;
        // width: 0;
        // height: 0;
        // border: inset 6px;
        // content: '';
        // border-bottom-width: 0;
        // border-top-style: solid;
        // border-color: transparent !important;
        // right: 15px;
        // margin-top: -3px;
        // opacity: 1;
        // transition: opacity 0.2s ease;
        // @include breakpoint(large){
        //   display: none;
        // }
        // @include hide-for(xlarge);
      }

      &:hover {
        &::after {
          border-color: #CDCCCD;
        }
      }
    }

    &:last-child a {
      padding-right: 0;
    }
  }


}



.region-header {
  display: flex;
  flex-direction: column;
  align-items: flex-end
}

.field-name-field-slider {
  max-width: 1600px;
  color: $white;

  figure {
    position: relative;
  }

  figcaption {
    position: absolute;
    width: calc(100% - 30px);
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    bottom: 20px;
    left: 50%;
    padding: 15px;
    transform: translateX(-50%);
    max-width: 1370px;

    @include breakpoint(smedium) {
      top: calc(50% - 160px/3);
      bottom: 0;
      height: 50%;
    }

    @include breakpoint(medium) {
      top: calc(50% - 200px/3);
      padding: 15px;
    }

    @include breakpoint(mediumplus) {
      bottom: auto;
      flex-direction: row;
      height: auto;
      top: calc(50% - 200px/2);
      margin: auto 0;
      align-items: center;
    }

    @include breakpoint(xlarge) {
      top: calc(50% - 275px/2);
    }

    &>h1 {
      display: block;
      font-size: 18px;
      text-align: right;
      border: none;
      padding: 0;
      font-family: $dancing;
      @include breakpoint(smedium) {
        font-size: 25px;
      }

      @include breakpoint(medium) {
        font-size: 35px;
        padding-left: 200px;
      }

      @include breakpoint(mediumplus) {
        text-align: right;
        padding-right: 45px;
        font-size: 40px;
      }

      @include breakpoint(large) {
        width: 50%;
        padding-top: 50px;
        padding-bottom: 50px;
      }

      @include breakpoint(xlarge) {
        font-size: 54px;
      }
    }

    &>div {
      display: flex;
      flex-direction: column;
      @include breakpoint(mediumplus) {
        width: 45%;
        padding-left: 45px;
        padding-top: 25px;
        padding-bottom: 25px;
        border-left: 1px solid $white;
      }

      @include breakpoint(large) {
        width: 50%;
        padding: 30px 0 30px 45px;
      }
      @include breakpoint(xlarge){
        padding-top: 30px;
        padding-bottom: 30px;
      }

      .button {
        background-color: rgba(0, 0, 0, 0);
        color: $white;
        border: 1px solid $white;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        text-transform: uppercase;
        letter-spacing: 2.25px;
        right: 0;
        bottom: 0;
        margin: 0;
        font-size: 9px;
        width: auto;
        height: auto;
        align-self: flex-start;

        @include breakpoint(smedium) {
          font-size: 10px;
          right: 0;
          bottom: 0;
          margin: 0;
        }

        @include breakpoint(large) {
          font-size: 12px;
          margin-top: 50px;
        }
      }

      .button:hover {
        background-color: $white;
        color: $black;
      }

      &>div {
        @include show-for(large);
      }
    }
  }

  .swiper-buttons {
    width: calc(39px * 2 - 2px);
    height: 39px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: relative;
    margin-top: 60px;

  }


  .swiper-button-prev {
    border-color: $white;
    background-image: url("data:image/svg+xml,%3csvg width='10' height='14' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 7l10 7V0z' fill='white' fill-rule='evenodd'/%3e%3c/svg%3e");
    display: block;
    height: 22.5px;
    width: 22.5px;
    top: calc(50% - 20px/2);
    left: 15px;
    margin-top: 25px;

    @include breakpoint(smedium) {
      width: 27.5px;
      height: 27.5px;
    }

    @include breakpoint(medium) {
      height: 39px;
      width: 39px;
      top: calc(50% - 39px/2);
      left: 50px;
    }

    @include breakpoint(xlarge) {
      margin-top: 40px;
      left: 100px;
    }

    @include breakpoint(xxlarge) {
      margin-top: 0;
    }

    &:hover {
      background-color: $white;
      background-image: url("data:image/svg+xml,%3csvg width='10' height='14' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 7l10 7V0z' fill='black' fill-rule='evenodd'/%3e%3c/svg%3e");
    }
  }

  .swiper-button-next {
    border-color: $white;
    background-image: url("data:image/svg+xml,%3csvg width='10' height='14' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10 7L0 14V0z' fill='white' fill-rule='evenodd'/%3e%3c/svg%3e");
    display: block;
    top: calc(50% - 20px/2);
    left: 35px;
    height: 22.5px;
    width: 22.5px;
    margin-top: 25px;

    @include breakpoint(smedium) {
      width: 27.5px;
      height: 27.5px;
      left: calc(15px + 27.5px - 1px);
    }

    @include breakpoint(medium) {
      top: calc(50% - 39px/2);
      left: 87px;
      height: 39px;
      width: 39px;
    }

    @include breakpoint(xlarge) {
      left: 137px;
      margin-top: 40px;
    }

    @include breakpoint(xxlarge) {
      margin-top: 0;
    }

    &:hover {
      background-color: $white;
      background-image: url("data:image/svg+xml,%3csvg width='10' height='14' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10 7L0 14V0z' fill='black' fill-rule='evenodd'/%3e%3c/svg%3e");
    }
  }
}

// nav toggle
.button-wrapper {
  @include hide-for(xlarge);
}
.burger-icon {
  @include burger(32px, 3px, 6px, $white);
}

.menu-button.is-active .burger-icon {
  @include burger-to-cross;
  @include hide-for(xlarge);
}

.path-node,
.path-taxonomy,
.section-user {
  #header-wrapper {
    height: 50px;

    @include breakpoint(xlarge) {
      height: 100px;
    }

    position: relative;

    .block-system-branding-block path {
      fill: $black;
    }

    .open,
    .close {
      a {
        color: black !important;
      }

      .block-base-main-menu {
        background-color: rgba($white, 0.7);
        border-left: 1px solid $black;
        border-top: 1px solid $black;
      }

      .is-drilldown {
        a::after {
          border-color: transparent $black;
        }

        ul {
          ul {
            margin-left: -2px;
            border-left: 1px solid $black;
            // border-bottom: 2px solid $black;
            background-color: rgba($white, 0.9);

            &>li>a::before {
              border-color: transparent $black transparent transparent;
            }
          }

          background-color: rgba($white, 0.7);
        }

        &>ul {
          padding-bottom: 25px;
          border-left: 1px solid $black;
          border-bottom: 1px solid $black;
        }

      }

      background-color: rgba($white, 0.9);

      .dropdown .is-active a,
      a {
        color: $black;

        &:hover {
          color: lighten($black, 40%);
        }
      }
      .is-dropdown-submenu {
        a {
          color: $white !important;
          &:hover, &:focus {
            color: $white !important;
          }
        }
      }

      &>div>:first-child {
        border-bottom: 1px solid $black;
      }

      @include breakpoint(large) {
        margin-top: -100px;
        padding-top: 50px;
      }

      @include breakpoint(xlarge) {
        ul li {
          &>a:after {
            border-color: $black transparent transparent !important;
          }

          ul li {

            &:first-child a,
            &:nth-child(2) a {
              border-top: 1px solid $black;
            }

            a {
              border-bottom: 1px solid $black;
            }
          }
        }

        background-color: transparent;
        top: 0;
        margin-top: 0;
        padding-top: 0;

        .block-base-main-menu {
          border: none;
        }
      }
    }

    .is-submenu-parent-item {
      background-color: $black;

      a,
      a:hover {
        color: white !important;
      }
    }

    .burger-icon {
      @include burger(32px, 3px, 6px, $black);
      @include hide-for(xlarge);
    }

    .menu-button.is-active .burger-icon {
      @include burger-to-cross;
      @include hide-for(xlarge);
    }
  }
}

//ul.menu.vertical.is-dropdown-submenu {
//  li {
//    a {
//      background-color: white;
//      color: black;
//    }
//  }
//}

.path-frontpage {
  ul.menu.vertical.is-dropdown-submenu {
    li {
      a {
        background-color: transparent;
        color: white;
      }
    }
  }
}

// :not(.node--type-home-page){
// .block-categorymenu{
//   .menu{
//     width: 100%;
//     display: flex;
//     justify-content: space-between;
//     border-top: 2px solid $white;
//     margin-top: 5px;
//   }
//   &>ul{
//     a{
// font-size: 16px;
// font-family: $extra-font-family;
// letter-spacing: 3.23px;
// text-transform: uppercase;
// padding: 5px 22.5px;
//   }
//   a:hover{
//     color: #CDCCCD;

//   }
// }
//   .dropdown{
//     display: flex;
//     justify-content: flex-end;
//     li{
//       ul{
//         // min-width: 100px !important;
//         // width: 200%;
//         margin: 0;
//         padding: 0;
//         border: none;
//         left:auto;
//         right:0;
//         text-align: right;
//         visibility: hidden;
//         opacity: 0;
//         transition: opacity 0.2s ease;
//         li{
//           a{
//             padding: 7px 17px !important;
//             font-size: 13px;
//             display: flex;
//             justify-content: center;
//             background-color: $black !important;
//             @include breakpoint(large){
//               background-color: transparent !important;
//               justify-content: flex-end;
//             }
//           }
//           border-top: 1px solid $white;
//           &:last-child{
//             border-bottom: 1px solid $white;
//           }
//         }
//       }
//       .js-dropdown-active{
//         visibility: visible;
//         opacity: 1;
//       }
//     }
//     &>li>.is-active{
//     font-weight: 500;
//     }
//   }
// }
// .menu.dropdown{
//   z-index: 10;
//   a{
//     color: $white;
//     text-transform: uppercase;
//     font-family: $extra-font-family;
//     letter-spacing: 2.62px;
//     &:hover{
//       color: #CDCCCD;
//     }
//     &::after{
//       // border-color: $white transparent transparent !important;
//     }
//   }
// }
// @include breakpoint(xlarge down) {
//   #header{
//     .open{
//       display: flex;
//       position: absolute;
//     }
//   }
//   .block-categorymenu{
//     &>ul{
//       a{
//         font-size: 14px;
//       }
//     }
//     .dropdown{
//       li{
//         ul{
//           li{
//             a{
//               font-size: 11px;
//             }
//           }
//         }
//       }
//     }
//   }
// }
// :not(node--type-home-page){
//   .drop-header{

//     @include breakpoint(large){
//     }
//   }
//   #header-wrapper{
//       z-index: 5;
//       max-width: 1600px;
//       margin: 0 auto;
//   }
//   #header{
//     height: auto;
//     padding-top: 50px;
//     display: flex;
//     justify-content: space-between;
//     align-items: flex-start;
//     padding: 15px;
//     margin-top: 50px;
//     @include max-inner-container();
//     @include breakpoint(large down){
//       margin-top: 0;
//       padding-top: 0;
//       height: auto;
//       margin-bottom: 0;
//       padding-bottom: 0;
//     }
//     @include breakpoint(large){
//       background-color: transparent;
//     }
//     .block-system-branding-block{
//       z-index: 100;
//       path{
//         fill: $black;
//       }
//     }
//   }
//   .close{
//     display: none;
//   }
//   .button-wrapper{
//     z-index: 100;
//   }
//   .open{
//     z-index: 10;
//     width: 100vw;
//     left: 0;
//     // padding: 15px 0;
//     // padding-top: calc(31.25px * 2);
//     height: cacl(365px + 31.25px * 2);
//     background-color: $white;
//     nav{
//       width: 100%;
//     }
//     &>div{
//       &>:last-child{
//         ul{
//           margin: 0;
//           border: none;
//         }
//       }
//       &>:first-child{
//         border-bottom: 2px solid $black;
//         }
//     }
//     @include breakpoint(large){
//       // width: auto !important;
//       top: 75px !important;
//       right: 0 !important;
//       left: auto !important;
//       // padding: 15px;
//       height: auto !important;
//       background-color: transparent !important;
//       nav{
//         width: 100%;
//         display: flex;
//         justify-content: flex-end;
//       }
//       &>div{
//         &>:last-child{
//           &>ul{
//             margin: 0;
//             border: none;
//             &>:last-child{
//               a{
//                 padding-right: 0 !important;
//               }
//             }
//           }
//         }
//         &>:first-child{
//           border-color: $black;
//         }
//       }
//     }
//   }
//   .region-header{
//       display: flex;
//       flex-direction: column;
//       align-items: flex-end
//   }
//   .block-categorymenu{
//     .menu{
//       width: 100%;
//       justify-content: space-between;
//       border-top: 2px solid $black;
//       margin-top: 5px;
//     }
//     &>ul{
//       a{
//         font-size: 16px;
//         font-family: $extra-font-family;
//         letter-spacing: 3.23px;
//         text-transform: uppercase;
//         //padding: 10px 22.5px !important;
//         @include link($black, lighten($black, 40%));
//         display: flex;
//       }
//     }
//     .dropdown{
//       justify-content: flex-end;
//       li{
//         ul{
//           // min-width: 100px !important;
//           // width: 200%;
//           margin: 0;
//           padding: 0;
//           right:0;
//           border: none;
//           left:auto;
//           text-align: right;
//           visibility: hidden;
//           opacity: 0;
//           transition: opacity 0.2s ease;
//           li{
//             a{
//               font-size: 13px;
//               font-weight: 500;
//               display: flex;
//               justify-content: center;
//               background-color: $white !important;
//               @include breakpoint(large){
//                   justify-content: flex-end;
//               }
//             }
//             border-top: 1px solid $black;
//             &:last-child{
//               border-bottom: 1px solid $black;
//             }
//           }
//         }
//         .js-dropdown-active{
//           visibility: visible;
//           opacity: 1;
//       }
//       }
//       &>li>.is-active{
//       font-weight: 500;
//       }
//     }
//   }
//   .block-base-main-menu{
//     .is-active{
//       font-weight: 500;
//     }
//   }
//   .menu.dropdown{
//     z-index: 10;
//     a{
//       @include link($black, lighten($black, 40%));
//       text-transform: uppercase;
//       font-family: $extra-font-family;
//       letter-spacing: 2.62px;
//       position: relative;
//     }
//   }
//   // nav toggle
//   .burger-icon {
//     @include burger(32px, 3px, 6px, $black);
//   }
//   .menu-button.is-active .burger-icon {
//     @include burger-to-cross;
//   }
//   @include breakpoint(xlarge down) {
//     #header{
//       margin-top: 15px;
//       margin-bottom: 30px;
//       .open{
//         display: flex;
//         position: absolute;
//         right: 15px;
//         // top: 100px;
//       }
//     }
//     .block-categorymenu{
//       &>ul{
//         a{
//           font-size: 14px;
//         }
//       }
//       .dropdown{
//         li{
//           ul{
//             li{
//               a{
//                 font-size: 11px;
//               }
//             }
//           }
//         }
//       }
//     }
//   }
//   @include breakpoint(mediumplus down){
//     #header{
//       .open{
//         display: flex;
//         position: absolute;
//         right: 15px;
//         top: 50px;
//         background: $white;
//         // top: 100px;
//       }
//     }
//     #navs, .region-header{
//       width: 100%;
//     }
//     .block-base-main-menu{
//       border-bottom: solid 2px $black;
//       width: 100%;
//       ul{
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         li{
//           width: 33%;
//           text-align: center;
//         }
//       }
//     }
//     .block-categorymenu{
//       // width: 100%;
//       display: block;
//       margin: 0 auto;
//       .menu{
//         border: none;
//       }
//       &>ul{
//         a{
//           font-size: 14px;
//           display: flex;
//           justify-content: center;
//         }
//       }
//       .dropdown{
//         display: flex;
//         flex-direction: column;
//         a{
//           display: flex;
//           justify-content: center;
//           align-items: center;
//           width: 100%;
//           height: 100%;
//           position: relative;
//           &::after{
//             // position: absolute;
//             // width: 100% !important;
//             // height: 100% !important;
//             // top: 0 !important;
//             // left: 0 !important;
//             // border: none !important;
//             // background-color:none;
//             // color: $white;
//           }
//         }
//         li{
//           display: flex;
//           flex-direction: column;
//           // ul{
//           //   position: absolute !important;
//           //   width: 100% !important;
//           //   height: 100% !important;
//           //   top: 0 !important;
//           //   left: 0 !important;
//           //   margin: 0;
//           //   padding: 0;
//           //   border: none;
//           //   visibility: hidden;
//           //   opacity: 0;
//           //   transition: opacity 0.2s ease;
//           //   li{
//           //     a{
//           //       font-size: 13px;
//           //       width: 100%;
//           //       height: calc(100%-1px);
//           //       background-color: $black;
//           //       display: flex;
//           //       justify-content: center;
//           //       align-items: center;
//           //       text-align: center;
//           //     }
//           //     border-top: 1px solid $black;
//           //     &:last-child{
//           //     border-bottom: 1px solid $black;
//           //     }
//           //   }
//           // }
//         }
//       }
//     }
//   }
// //end not home
// }

.path-frontpage{
  .home_page{
    div.swiper-button-next ,div.swiper-button-prev{
      display: none ;
    }
  }
}

@include breakpoint(mediumplus) {
  nav#block-base-main-menu {
    ul.menu.vertical {
      li:last-of-type {
        a {
          padding-right: 0px;
        }
      }
    }
  }
  nav#block-categorymenu {
    ul.menu.vertical {
      ul.menu.is-dropdown-submenu{
        background-color: rgba($black, .75);
        left: 0 !important;
        li.js-drilldown-back{
          display: none;
        }
        li{

        }
        a{
          color: $white;
          transition: 0.3s ease;
          border:none;
          border-bottom: solid 1px black;
          font-weight: 300;
          font-size: rem-calc(12);
          &:hover{
            color: white;
            background-color: rgba($white, .2);
          }
        }
      }
      li:first-of-type {
        a {
          padding-left: 0px;
        }
      }
    }
  }
}

.node--type-home-page {
  #block-categorymenu {
    ul.menu {
      li.is-dropdown-submenu-parent {
        & > a {
          &:after {
            background-image: url("data:image/svg+xml,%3Csvg height='6' width='6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 6L0 0h6z' fill='%23fff' fill-rule='evenodd'/%3E%3C/svg%3E");
          }
          &:hover, &:focus {
            &:after {
              background-image: url("data:image/svg+xml,%3Csvg height='6' width='6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 6L0 0h6z' fill='%23CDCCCD' fill-rule='evenodd'/%3E%3C/svg%3E");
            }
          }
        }
      }
    }
  }
}
#block-categorymenu {
  ul.menu {
    li.is-dropdown-submenu-parent {
      &> a {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          top: 0; right: calc(1.5rem - 7px);
          background-image: url("data:image/svg+xml,%3Csvg height='6' width='6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 6L0 0h6z' fill='%23000' fill-rule='evenodd'/%3E%3C/svg%3E");
          width: 6px; height: 100%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100% auto;
          display: block !important;
          border: none;
          margin-top: unset;
        }
      }
    }
  }
}

