// Non-modular or client styles for the .l-content region.
.block-breadcrumbs{
  @include grid-column-row();
  @include breakpoint(large down){
    margin: 25px 0 !important;
  }
  a{
    color: #CDCCCD;
    @include link(#CDCCCD, darken(#CDCCCD, 20%));
    text-transform: lowercase;
    font-size: 14px;
    font-family: $extra-font-family;
    letter-spacing: 3.23px;
    font-weight: 300;
    &:hover{
      text-decoration: none;
    }
  }
}
@include breakpoint(mediumplus) {
  .block-system-breadcrumb-block {
    margin-bottom: 50px;
    margin-top: 50px;
  }
}
.section-alu, .section-referenties{
  .region-content{
    @include max-container();


  }
}
.full {
  header {
    @include grid-column-row();
  }
}
.block-system-main-block{
  @include breakpoint(medium){
    margin-bottom: 100px;
  }
  @include breakpoint(mediumplus){
    margin-bottom: 50px;
  }
  margin-bottom: 50px;
}
