::-moz-selection {
  background: rgba($black, .8);
  color: $white;
}
::selection {
  background: rgba($black, .8);
  color: $white;
}

ul.linkicon {
  margin: 0;
  padding: 0;
  list-style-type: none;
  &> li {
    a.linkicon__item {
      .linkicon__text {
        font-size: 0;
        opacity: 0;
        visibility: hidden;
        height: 0; width: 0;
      }
    }
  }
}

.is-dropdown-submenu {
  background-color: transparent;
}

.button{
  background-color: white;
  color: black;
  border: 1px solid black;
  font-size: 12px;
  width: 223px;
  height: 34px;
  transition: color 0.2s ease, background-color 0.2s ease;
  font-family: $font-link;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2.25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button:hover{
  background-color: black;
  color: white;
}
.swiper-buttons{
  width: calc(27.5px * 2 - 2px);
  height: 39px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: relative;
  margin-top: 60px;
  @include breakpoint(medium){
    width: calc(39px * 2 - 2px);
  }
}
.swiper-button-prev{
  border: 2px solid $black;
  display: inline-block;
  height: 27.5px;
  width: 27.5px;
  background-image: url("data:image/svg+xml,%3csvg width='10' height='14' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 7l10 7V0z' fill='black' fill-rule='evenodd'/%3e%3c/svg%3e");
  background-size: 40%;
  background-position: center;
  transition: all 0.2s ease;
  position: absolute;
  top: 0;
  left: 0;
  @include breakpoint(medium){
    width: 39px;
    height: 39px
  }


  &:hover{
    background-image: url("data:image/svg+xml,%3csvg width='10' height='14' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 7l10 7V0z' fill='white' fill-rule='evenodd'/%3e%3c/svg%3e");
    background-color: $black;
  }
}


.swiper-button-next{
  border: 2px solid $black;
  display: inline-block;
  height: 27.5px;
  width: 27.5px;
  background-size: 40%;
  background-position: center;
  background-image: url("data:image/svg+xml,%3csvg width='10' height='14' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10 7L0 14V0z' fill='black' fill-rule='evenodd'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  transition: all 0.2s ease;
  position: absolute;
  right: 0;
  top: 0;
  @include breakpoint(medium){
    width: 39px;
    height: 39px
  }


  &:hover{
    background-color: $black;
    background-image: url("data:image/svg+xml,%3csvg width='10' height='14' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10 7L0 14V0z' fill='white' fill-rule='evenodd'/%3e%3c/svg%3e");
  }
}

div.categories.full{
  div.field-taxonomy-term--field-paragraphs{
    .field-items{
      .field-item:first-of-type{
        div.field-paragraph--field-text-block{
          @include breakpoint(mediumplus) {

          }
        }
      }
    }
  }
}

.linkicon__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px; height: 32px;
  font-size: 20px;
}

p {
  a {
    text-decoration: underline;
    transition: .25s ease-out color;
    &:hover, &:focus {
      color: rgba($body-font-color, .7);
    }
  }
}
