// Place any Drupal-related quirks here.

.role-webmaster #toolbar-item-administration-tray,
.role-webmaster #toolbar-item-administration {
  display: none!important;
}

.region-highlighted.panel.callout {
  padding: 0;
  border: none;
  margin: 0;
}

.section-user{
  .button.secondary{
    margin-left: auto;
  }
  font-family: $extra-font-family;
  #header-wrapper{
    position: relative;
    margin-bottom: 50px;
    @include breakpoint(large down){
      .button-wrapper{
        position: absolute;
        right: 15px;
      }
    }
    .open{
      position: absolute !important;
    }
    ul li ul li a{
        background-color: $white;
      }
  }
  #main-wrapper{
    @include max-small-container;
    #main{
      @include small-container();
    }

    form{
      .description{
        margin-top: 5px;
      }
      div{
        margin-top: 15px;
      }
      input{
        background-color: $white;
        box-shadow: none;
        border-color: $black;
        font-family: $extra-font-family;
        margin-bottom: 0;
      }
      .form-submit{
        background-color: $white;
        color: $black;
        transition: all 0.2s ease;
        &:hover{
          background-color: $black;
          color: $white;
        }
      }
    }
  }
  #footer{
    justify-content: center;
    height: 100px;
    margin: 0;
  }
  .block-local-tasks-block{
    position: relative;
    top: 0;
  }
}
.block-local-tasks-block{
  position: absolute;
  top: 75px;
  z-index: 100;
  .button-group{
    display: flex;
    @include grid-row();
    justify-content: flex-start;
    width: 100%;
    flex-direction: column;
    @include breakpoint(large){
      flex-direction: row;
    }
  }
  .button.active{
    background-color: $white;
    color: $black;
    transition: all 0.2s ease;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    &:hover{
      background-color: $black;
      color: $white;
    }
  }
  .button.secondary{
    background-color: $black;
    color: $white;
    transition: all 0.2s ease;
    margin: 0;
    padding: 0;
    &:hover{
      background-color: $white;
      color: $black;
    }
  }
}
