// @file
// Place your mixins here. Feel free to roll your own mixins.
@mixin link($color: false, $color-hover: false, $transition-duration: .25s, $background-color: false, $background-color-hover: false){
  @if $color {
    color: $color;
  }
  @if $background-color {
    background-color: $background-color;
  }
  @if $transition-duration {
    transition: all $transition-duration ease-out;
  }
  &:hover, &:focus {
    @if $color-hover {
      color: $color-hover;
    }
    @if $background-color-hover {
      background-color: $background-color-hover;
    }
  }
}

@mixin max-container(){
  max-width: 1600px;
  width: 100%;
  margin: auto;
}

@mixin max-inner-container(){
  //@include grid-column-row(1400rem);
  max-width: 1400px;
  width: 100%;
  margin: auto;
}

@mixin max-small-container(){
  //@include grid-column-row(1400rem);
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
}

@mixin small-container(){
  //@include grid-column-row(1400rem);
  max-width: 640px;

  padding: 15px;
}