.block-views-block-call-to-action-block {
  .call_to_action {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: $white;
    max-width: 1600px;
    position: relative;

    &>:after {
      content: '';
      height: 100%;
      width: 100%;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0.8) 150%);
      z-index: 10;
      @include breakpoint(mediumplus){
        background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.4) 150%);
      }
    }

    .view-mode-default {
      width: 100%;
      padding: 30px 15px;

      &>h2,
      &>div {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        z-index: 100;
        line-height: 1;
      }

      &>h2 {
        margin-bottom: 30px;

      }

      .button {
        background-color: rgba(0, 0, 0, 0);
        color: $white;
        border: 2px solid $white;
        font-size: 12px;
        z-index: 100;
        text-transform: uppercase;
        letter-spacing: 2.25px;
      }

      .button:hover {
        background-color: $white;
        color: $black;
      }

      @include breakpoint(mediumplus) {
        display: flex;
        align-items: center;
        padding: 100px 15px;

        &>h2 {
          padding-right: 80px;
          padding-left: 15px;
          border-right: 1px solid #CDCCCD;
          margin-bottom: 0;
          font-size: 48px;
        }

        &>div {
          padding-left: 80px;
          padding-right: 15px;
          border-left: 1px solid #CDCCCD;


        }
      }

      @include breakpoint(large) {
        padding: 120px 150px;
      }

      @include breakpoint(xlarge) {
        padding: 150px 200px;
      }

    }
  }
}
