// HOME
.block-views-block-categories-featured-teasers,
.block-views-blockcategories-categories-by-parent {
  .item-list {
    margin-top: 75px;

    li:first-child {
      border-right: solid calc(2px / 3 * 2) #CDCCCD;

    }

    li:last-child {
      border-left: solid calc(2px / 3 * 2) #CDCCCD;
    }

    li:nth-child(2) {
      border-left: solid calc(2px / 3) #CDCCCD;
      border-right: solid calc(2px / 3) #CDCCCD;
    }

    li {
      div {
        position: relative;
      }


    }

    @include breakpoint(medium down) {
      margin-top: 40px;

      li {
        div {
          position: relative;
        }

      }
    }
  }

  @include breakpoint(small down) {
    .item-list {

      li:first-child,
      li:last-child,
      li:nth-child(2) {
        border: none;
        width: 100%;
        max-width: 100%;
        padding: 0;
        margin: 0;
      }
    }
  }
}

.block-views-block-categories-featured-teasers,
.block-views-blockcategories-categories-by-parent,
div.block-view-wrapper{
  h2 {
    font-family: $extra-font-family;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 5.12px;
  }

  @include breakpoint(medium down) {
    h2 {
      font-size: 17px;
      margin-bottom: 10px;
    }
  }

  .item-list {
    li {
      @include breakpoint(medium) {
        @include flex-grid-column(1 of 3, 0);
      }
    }
  }

  .block-title {
    text-align: center;
    margin-bottom: 15px;
  }

  margin-bottom: 50px;
  @include breakpoint(large){
    margin-bottom: 100px;
  }

  .item-list>ul {
    @include breakpoint(smedium) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    margin: 0;
    padding: 0;
    list-style-type: none;
    @include max-container();

    &>li {
      position: relative;

      h3 {
        position: absolute;
        display: block;
        color: $white;
        width: 100%;
        text-align: center;
        top: 47.5%;
        opacity: 1;
        transition: opacity 0.2s ease;
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 5.12px;
        font-family: $extra-font-family;
        font-weight: 500;

        @include breakpoint(smedium) {
          font-size: 18px;
        }

        @include breakpoint(mediumplus) {
          font-size: 24px;
        }
      }
    }

    & a:hover,
    & a:focus {
      h3 {
        opacity: 0;
      }
    }

    figure {
      &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        display: block;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.76) 150%);
        opacity: 1;
        transition: opacity 0.2s ease;
      }

    }
  }
}

.block-views-blockcall-to-action-block {
  @include max-container();
}

.categories.teaser {
  &>a {
    figcaption {
      &:after {
        content: '';
        opacity: 0;
        display: inline-block;
        text-align: center;
        position: absolute;
        top: 50%;
        width: 42px;
        height: 42px;
        background-image: url("data:image/svg+xml,%3csvg width='42px' heigth='42px' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M.048 14.518h14.187V.804H26.53v13.714h14.282v10.877H26.53v14.66H14.235v-14.66H.048z' fill='black' fill-rule='evenodd'/%3e%3c/svg%3e");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: opacity 0.2s ease;

        @include breakpoint(smedium) {
          width: 42px;
          height: 42px;
          transform: scale(0.5) translate(-100%, -100%);
        }

        @include breakpoint(medium) {
          width: 42px;
          height: 42px;
          transform: translate(-50%, -50%);
        }
      }
    }

    &:before {
      opacity: 0;
      content: '';
      display: block;
      position: absolute;
      width: 78px;
      height: 78px;

      @include breakpoint(smedium) {
        width: 50px;
        height: 50px;
      }

      @include breakpoint(medium) {
        width: 78px;
        height: 78px;
      }

      top: 50%;
      left: 50%;
      background-color: $white;
      transform: translate(-50%, -50%);
      transition: opacity 0.2s ease;
    }

    &:hover,
    &:focus,
    &:active {
      figcaption {
        &:after {
          opacity: 1;
        }
      }

      &:before {
        opacity: 1;
      }

      figure {
        &:before {
          opacity: 0;
        }
      }
    }
  }
}

.block-views-blockcategories-tab {
  max-width: 1200px;
  width: 100%;
  margin: 50px auto;

  .item-list {
    width: 100vw;

    @include breakpoint(xlarge) {
      width: 100%;
    }

    ul {
      border: none;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .is-active a,
      li a:hover {
        color: #CDCCCD !important;
      }

      @include breakpoint(xlarge) {
        justify-content: space-evenly;
        padding: 0 15px;
      }

      li {
        @include breakpoint(mediumplus) {
          @include flex-grid-column(1 of 3);
          padding-left: 0px !important;
          padding-right: 0px !important;
        }

        a {
          border: #CDCCCD solid 2px;
        }

        &:first-of-type {
          a {
            border-left: 0px;
            border-bottom: 0px;
            border-right: #CDCCCD solid 1px;
          }
        }

        &:nth-of-type(2) {
          a {
            border-bottom: 0px;
            border-left: #CDCCCD solid 1px;
            border-right: #CDCCCD solid 1px;
          }
        }

        &:nth-of-type(3) {
          a {
            border-right: 0px;
            border-bottom: 0px;
            border-left: #CDCCCD solid 1px;
          }
        }

        &:nth-of-type(4) {
          a {
            border-left: 0px;
            border-right: #CDCCCD solid 1px;
          }
        }

        &:nth-of-type(5) {
          a {
            border-left: #CDCCCD solid 1px;
            border-right: #CDCCCD solid 1px;
          }
        }

        &:last-of-type {
          a {
            border-right: 0px;
            border-left: #CDCCCD solid 1px;
          }
        }
      }

      a {
        @include link($black, lighten, 40%);
        transition: color 0.2s ease;
        font-family: $extra-font-family;
        font-size: 18px;
        letter-spacing: 5.12px;
        font-weight: 500;
        text-transform: uppercase;
        background-color: transparent;
        padding: 20px 10px;
        text-align: center;
        border: 0px solid #CDCCCD;

        @include breakpoint(xxlarge) {
          padding: 20px 10px;
          text-align: center;
          // padding-left: 77.5px;
        }

        &:focus,
        &[aria-selected="true"] {
          background: none;
        }
      }
    }

    .tabs-content {
      border: none;
    }

    .field-name-field-sub-title {
      text-align: right;
    }
    @include breakpoint(large) {
      .tabs-content {
        padding: 0 15px;
        border: none;

        .tabs-panel.is-active {
          width: 100%;
          padding: 25px 0;
          padding-top: 50px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .field-name-field-sub-title {
            width: 30%;
          }

          .field-name-field-seo-description {
            width: 60%;
          }
        }
      }
    }

    @include breakpoint (mediumplus down) {
      .tabs-content {
        width: 100%;

        .is-active {
          display: flex;
          flex-direction: column !important;
          align-items: flex-start !important;
          padding: 15px !important;
        }
      }

      ul {
        margin: 0;
        display: flex;
        flex-direction: column;
        @include breakpoint(mediumplus){
          flex-direction: row;
        }
        li {
          border: 1px solid #CDCCCD;
          list-style-type: none;
          width: 100%;

          a {
            padding-left: 15px;
            border: none !important;
            border-right: 0;
          }

          &:first-child {
            a {
              padding-right: 0;
              padding-left: auto;
            }
          }

          &>div {
            border: none !important;
            padding: 15px;

          }
        }

        // &:first-child{
        //   border-top: 1px solid #CDCCCD !important;
        // }
        // &:last-child{
        //   border-bottom: 1px solid #CDCCCD !important;
        // }
      }
    }
  }
}


.scroll-downs {
  @include show-for(xlarge);
  position: absolute;
  top: 0;
  right: -200px;
  bottom: -500px;
  left: 0;
  margin: auto;
  z-index: 25;
  width :34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}
