.node--type-contact-page{
  @include breakpoint(mediumplus down){
    .block-base-content{
      margin-bottom: 100px;
    }
  }
  .field-name-field-page-image {
    margin-top: 30px;
  }
  .contact_page{
    @include breakpoint(smedium down){
      margin: auto;
    }
    @include max-small-container();
    @include breakpoint(mediumplus){
      @include flex-grid-row();
      justify-content: space-between;
      margin-top: 50px;
    }
    &>.view-mode-full{
        text-align: center;
        padding: 15px;
      @include breakpoint(medium){
         text-align: left;
         padding: 0;
      }
      .contact-details-inner{
        padding-top: 15px;
        p{
          font-family: $extra-font-family;
          letter-spacing: 1px;
        }
      }
    }
    @include breakpoint(mediumplus){
      &>.view-mode-full, &>.form-wrapper{
        @include flex-grid-column(1 of 2);
      }
      &>.view-mode-full{
        padding-left: 0;
        border-right: 1px solid #CDCCCD;
        padding-right: 15px;
        @include breakpoint(large){
          padding-right: 40px;
        }
        @include breakpoint(xlarge){
          padding-right: 75px;
        }
      }
      &>.form-wrapper{
        border-left: 1px solid #CDCCCD;
        padding-left: 25px;
        padding-right: 0;
        @include breakpoint(large){
          padding-left: 40px;
        }
        @include breakpoint(xlarge){
          padding-left: 75px;
          border-left: none;
        }
      }
    }
    &>.form-wrapper{
      @include breakpoint(large){
        form{
          width: 450px;
        }
      }

      &>.sub-title{
        font-family: 'Times New Roman', Times, serif;
        margin-bottom: 20px;
        text-transform: capitalize;
        font-size: 32px;
        letter-spacing: 1.44px;
        text-align: center;
        @include breakpoint(smedium){
          font-size: 40px;
          margin-top: 50px;
        }
        @include breakpoint(medium){
          text-align: left;
          font-size: 48px;
        }
        @include breakpoint(mediumplus){
          margin-top: 0;
        }
      }
      .webform-button--submit{
        background-color: $white;
        transition: all 0.2s ease;
        width: 100%;
        @include breakpoint(medium){
          width: 184px;
        }
        &:hover{
          background-color: $black;
          color: $white;
        }
      }
      label{
        font-family: $extra-font-family;
        font-size: 14px;
        letter-spacing: 2.56px;
        font-weight: 400;
        text-transform: uppercase;
      }
      .form-item{
        position: relative;
        font-family: $extra-font-family;
        [type='text'],
        [type='password'],
        [type='date'],
        [type='datetime'],
        [type='datetime-local'],
        [type='month'],
        [type='week'],
        [type='email'],
        [type='number'],
        [type='search'],
        [type='tel'],
        [type='time'],
        [type='url'],
        [type='color'],
        textarea {
          color: $black;
          font-size: 14px;
          font-weight: 400;
          padding: 30px 1rem 1rem 0;
          width: 100%;
          @include breakpoint(large){
            width: 100%;
          }
        }
        .form-textarea{
          padding-left: 10px !important;
          padding-top: 10px !important;
          border: 1px solid $black;
          resize: none;
          display: inline-block;
          height: 95px;
          width: 100%;
          margin-bottom: 30px;
          @include breakpoint(large){
            width: 450px;
          }
        }
        &>input{
          margin-bottom: 15px;
          border: none;
          border-bottom: 1px solid $black;
          box-shadow: none;
        }
        label {

          color: $black;
          font-size: 14px;
          position: absolute;
          pointer-events: none;
          left: 0;
          bottom: 0;
          transition: all 0.2s ease-in;
          font-weight: 400;

        }
        &.js-form-type-textarea{
          display: inline-block;
          height: 95px;
          width: 450px;
          top: 20px;
          font-size: 14px;
          font-weight: 400;
          margin-top: 10px;
          &>div {
            &+label {
              top: 10px;
              left: 10px;
              bottom: auto;
            }
            &.has-value {
              &+label {
                top: -30px;
                left: 0;
              }
            }
          }
        }
        /* active state */
        input:focus ~ label,
        input:disabled[value] ~ label,
        &.has-value input ~ label {

          top: 0;
          font-size: 12px;
          color: $black;
          font-weight: 400;

        }
        textarea:focus ~ label,
        &.has-value textarea ~ label {

          top: 0;
          font-size: 12px;
          color: $black;
          font-weight: 400;

        }
      }
    }
  }
}


.contact_page.full{
  header{
    padding: 0;
    @include breakpoint(mediumplus) {


    }
    //@include breakpoint(large){
    //  margin-left: 0;
    //  max-width: 566px;
    //  text-align: right;
    //}

  }
  div.view-mode-full{
    text-align: right;
    margin-bottom: 20px;
    @include breakpoint(mediumplus){
      margin-bottom: 0;
    }

    .basic-info, .teaser-info{
      h3{
        display: none;
      }
      p{
        margin-bottom: 0px;
        span{
          font-family: "Times New Roman",Times,serif;
          font-weight: 400;
        }
      }
      a{
        font-family: "Times New Roman",Times,serif;
        font-weight: 400;
        transition: 0.3s ease;
        &:hover{
         color: #cccccc;
        }
      }
    }
  }
}

.contact_details.map {
  margin-bottom: 30px;
}
