.field-name-field-paragraphs {
  .paragraph--type--page-link {
    width: 100%;
    @include max-small-container();
    padding: 0;

    &>div {
      padding: 15px;
    }

    figure {
      img {
        width: 100%;
      }

      display: flex;
      justify-content: center;
      align-items: center;

    }

    @include breakpoint(mediumplus) {
      margin: 50px auto;
      display: flex;
      justify-content: space-between;

      &>div {
        width: 430px;
        padding-right: 80px;
        border-right: 1px solid #CDCCCD;
        padding-top: 45px;
        padding-bottom: 45px;
        text-align: right;
      }

      &>figure {
        border-left: 1px solid #CDCCCD;
        padding-left: 80px;
        padding-top: 45px;
        padding-bottom: 45px;

      }
      a.button{
        margin-left: auto;
        margin-right: 0;
      }
    }
  }

  .paragraph--type--text-block {
    padding: 0;
  }
}

.field-paragraph--field-text-block {
  @include max-small-container();

  &>.field-items {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    &>:first-child {
      margin-bottom: 15px;
    }

    &>.field-item {
      @include breakpoint(mediumplus) {
        &:first-child {
          padding-right: 15px;
        }

        &:last-child {

        }
      }

      width: 100%;
      letter-spacing: 1px;
    }
  }

  @include breakpoint(mediumplus) {

    &>.field-items {
      flex-direction: row;

    }
  }
}


.categories.full {
  .field-taxonomy-term--field-page-title {
    margin-bottom: 20px;
  }

  .field-taxonomy-term--field-sub-title {
    margin-bottom: 70px;
  }
}

.field-taxonomy-term--field-page-title,
.page-title {
  font-size: 48px;
  letter-spacing: 1.44px;
  line-height: 50px;
}

.field-taxonomy-term--field-sub-title,
.sub-title {
  font-size: 15px;
  font-family: $extra-font-family;
  letter-spacing: 5.12px;
  line-height: 26px;
  text-transform: uppercase;

  @include breakpoint(mediumplus) {
    font-size: 24px;
    line-height: 41px;
  }
}

.paragraph--type--text-block {
  @include grid-col-gutter();
}

.paragraph--type--image-text {
  display: flex;
  flex-wrap: wrap;

  @include breakpoint(mediumplus) {
    flex-direction: row-reverse;

    &>.field {
      @include grid-col-gutter();
      width: 50%;
    }
  }
}

.paragraph--type--text-image {
  display: flex;
  flex-wrap: wrap;

  @include breakpoint(mediumplus) {
    &>.field {
      @include grid-col-gutter();
      width: 50%;
    }
  }
}

.categories.full {
  &>.field-name-field-paragraphs>.field-items {

    &>.field-item:first-child,
    &>.field-item:nth-child(3),
    &>.field-item:nth-child(4) {
      margin-bottom: 30px;
    }
  }

  .paragraph--type--image-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include max-small-container;

    .field-paragraph--field-text {
      letter-spacing: 1px;
      padding: 0 !important;

      .field-items {
        margin: 15px 0;
      }

      @include breakpoint(mediumplus) {
        .field-items {
          margin: auto;
        }

        .field-item {
          padding: 35px 0;
        }

        border-left: 1px solid #CDCCCD;
        padding: 15px 0 !important;
        padding-left: 50px !important;
      }

      @include breakpoint(large) {
        padding: 50px 0 !important;
        padding-left: 50px !important;
      }

    }

    .field-paragraph--field-image {
      margin: 0 auto;
      padding: 0 !important;

      @include breakpoint(smedium) {
        width: 75%
      }

      @include breakpoint(mediumplus) {
        margin: auto;
        width: 100%;
        border-right: 1px solid #CDCCCD;
        padding: 15px 0 !important;
        padding-right: 60px !important;
      }

      @include breakpoint(large) {
        padding: 50px 0 !important;
        padding-right: 60px !important;
      }
    }

    .field-paragraph--field-image,
    .field-paragraph--field-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    @include breakpoint(mediumplus) {
      flex-direction: row-reverse;

      &>.field-paragraph--field-image {
        @include grid-col-gutter();
        width: 45%;
      }

      &>.field-paragraph--field-text {
        @include grid-col-gutter();
        width: 55%;
      }
    }
  }

  .paragraph--type--text-image {
    @include max-small-container;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .field-paragraph--field-text {
      letter-spacing: 1px;
      padding: 0 !important;

      .field-items {
        margin: 15px 0;
      }

      @include breakpoint(mediumplus) {
        .field-items {
          margin: auto;
        }

        .field-item {
          padding: 35px 0;
        }

        border-right: 1px solid #CDCCCD;
        font-size: 16px;
        padding: 15px 0 !important;
        padding-right: 60px !important;
      }

      @include breakpoint(large) {
        padding: 50px 0 !important;
        padding-right: 60px !important;
      }

    }

    .field-paragraph--field-image {
      margin: 0 auto;
      padding: 0 !important;

      @include breakpoint(smedium) {
        width: 75%
      }

      @include breakpoint(mediumplus) {
        margin: auto;
        width: 100%;
        border-left: 1px solid #CDCCCD;
        padding: 15px 0 !important;
        padding-left: 50px !important;
      }

      @include breakpoint(large) {
        padding: 50px 0 !important;
        padding-left: 50px !important;
      }
    }

    .field-paragraph--field-image,
    .field-paragraph--field-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    @include breakpoint(mediumplus) {
      &>.field-paragraph--field-image {
        @include grid-col-gutter();
        width: 45%;
      }

      &>.field-paragraph--field-text {
        @include grid-col-gutter();
        width: 55%;
      }
    }
  }
}

.swiper-slide {
  figure {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.74) 175%);
    }
  }
}


.block-system-main-block {
  .page-title {
    margin-bottom: 20px;
  }

  .sub-title {
    margin-bottom: 70px;
  }
}

.paragraph--type--cards {
  @include grid-row;

  &>.field-name-field-title {
    font-size: 48px;
    color: black;
    letter-spacing: 1.44px;
    line-height: 50px;
    margin-bottom: 25px;

    @include breakpoint(mediumplus) {
      margin-bottom: 60px;
    }
  }

  .field-name-field-card {
    div.middle-wrapper{
      img{
        width: 100%;
      }
      @include breakpoint(xlarge) {
      @include flex-grid-row();
      flex-wrap: nowrap;

        max-width: 500px;
        img {
          max-width: 250px;
        }
      }
    }
    ul.tabs {
      border: solid 1px #CDCCCD;
      border-left: none;
      border-right: none;

      li.tabs-title {
        border: none;
        border-top: none;
        border-bottom: none;
        transition: 0.3s ease;
        a {
          padding: 20px 20px;
          font-family: Ministry-Bold;
          font-size: 14px;
          color: #000000;
          letter-spacing: 2.99px;
          line-height: 41px;
          text-transform: uppercase;
          background-color: transparent;
           transition: 0.3s ease;
           @include breakpoint(medium) {
                 padding: 20px 50px;
           }
          &:hover{
            color: #cccccc;
          }
        }

        &>:focus {
          a {
            background-color: transparent;
          }



        }
        &:first-of-type {

          border-left: none;

        }

        &:last-child {
          border-right: none;
        }
      }

      li.is-active {
        a {
          background-color: transparent;
          color: #CDCCCD;
        }
      }

    }

    .tabs-content {
      border: 0px solid transparent !important;

      .tabs-panel {
        padding-left: 0px !important;
        border: 0px solid transparent !important;
        padding-right: 0px !important;
        padding-top: 25px;

        @include breakpoint(mediumplus) {
          padding-top: 80px;
        }
        .half-wrapper {
          .text-wrapper {
            @include grid-col-gutter;
          }
        }
        .full-wrapper {
          @include grid-col-gutter;
          @include breakpoint(mediumplus) {
            @include flex-grid-row;
            flex-wrap: nowrap;
            flex-direction: row-reverse;
            justify-content: space-between;

          }

          @include breakpoint(xlarge) {
            padding-left: 0px !important;
            padding-right: 0px !important;
          }
          .text-wrapper{
                        padding-left: 0px !important;
                        padding-right: 0px !important;
          }
        }


        div.text-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;

          .field-name-field-title {
            font-family: Ministry-Bold;
            font-size: 24px;
            color: #000000;
            letter-spacing: 5.12px;
            line-height: 41px;
            margin-bottom: 25px;
          }

          .field-name-field-text {
            font-family: TimesNewRomanPSMT;
            font-size: 16px;
            color: #000000;
            letter-spacing: 1px;
          }

          @include breakpoint(mediumplus) {
            @include flex-grid-column(6 of 12);

          }
        }

        div.img-wrapper {
          @include breakpoint(mediumplus) {
            @include flex-grid-column(5 of 12);
            padding-left: 0px !important;
            padding-right: 0px !important;
          }
        }

      }
    }
  }
}

.field-paragraph--field-card{
  ul.tabs{
    li:first-of-type{
      a{
        padding-left: 0px!important;
      }
    }
  }
}

body.section-referenties{
  .basic_page.full{
    @include breakpoint(mediumplus){
      &>div.view-mode-full{
        .field-name-field-text-block{
  &>div.field-items{
    max-width: 50%;
    margin-left: 0;
    margin-right: auto;
  }
        }
      }
    }
  }
}

.paragraph--type--carousel {
  .field-name-field-images {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    &> .field-items {
      @include flex-grid-row();
      @include breakpoint(medium){
        @include flex-grid-row('nest', 'expand', null, false, true, 2px);
        max-width: 1600px;
      }
      &>.field-item {
        @include flex-grid-column(1 of 1, 0);
        margin-bottom: 2px;
        @include breakpoint(medium){
          @include flex-grid-column(1 of 2, 2px);
        }
        @include breakpoint(largemin){
          @include flex-grid-column(1 of 3, 2px);
        }
      }
    }
  }
}
