.section-referenties{
  @include breakpoint(medium down){
    #block-base-content{
      margin-bottom: 0;
    }
  }
  .swiper-slide{
    max-width: 100%;
  }
  .reference.teaser{
    figure{
      position: relative;
      &:before{
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        content: '';
        opacity: 1;
        transition: opacity 0.25s ease;
        @include breakpoint(large){
                  background-color: rgba(0, 0, 0, 0.8);
          opacity: 0;
        }
      }
      figcaption{
        opacity: 1;
        position: absolute;
        top: 0;
        left: 0;
        color: $white;
        width: 100%;
        height: 100%;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: opacity 0.25s ease;
        @include breakpoint(medium){
          padding: 30px;
        }
          @include breakpoint(large) {
            opacity: 0;
          }
        h3{
          font-size: 21px;
          font-family: $extra-font-family;
          font-weight: 500;
          letter-spacing: 3.23px;
          margin-bottom: 15px;
          text-align: center;
        }
        .field-item>p{
          font-weight: bold;
          letter-spacing: 1px;
        }
      }
      &:hover, &:active{
        &:before, figcaption{
        opacity: 1;
      }

    }
    }

  }

  .view-wrapper{

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      @include breakpoint(medium){
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &>element{
          display: inline-block;
        }
      }
      &>nav{
        padding-left: 0;
      }
      &>:last-child{
          width: 100%;
          ul{
            position: relative;
          }
          .pager__item{
            display: none;
          }
          .pager__item--next, .pager__item--previous{
            display: inline-block;
          }


        .pager__item--previous>a{
          text-indent: -9999px;
          word-wrap: none;
          display: inline-block;
          border: 1px solid $black;
          height: 27.5px;
          width: 27.5px;
          background-color: white;
          background-image: url("data:image/svg+xml,%3csvg width='10' height='14' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 7l10 7V0z' fill='black' fill-rule='evenodd'/%3e%3c/svg%3e");
          background-size: 40%;
          background-repeat: no-repeat;
          background-position: center;
          transition: all 0.2s ease;
          //position: absolute;
          left: calc(50% - 27.5px + 2px);
          @include breakpoint(medium){
            width: 39px;
            height: 39px;
            left: calc(34% - 39px + 2px);
          }
          &:hover{
            cursor: pointer;
            background-image: url("data:image/svg+xml,%3csvg width='10' height='14' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 7l10 7V0z' fill='white' fill-rule='evenodd'/%3e%3c/svg%3e");
            background-color: $black;
          }
        }
        .pager__item--next>a{
          text-indent: -9999px;
          word-wrap: none;
          border: 1px solid $black;
          display: inline-block;
          height: 27.5px;
          width: 27.5px;
          background-size: 40%;
          background-repeat: no-repeat;
          background-position: center;
          background-color: white;
          background-image: url("data:image/svg+xml,%3csvg width='10' height='14' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10 7L0 14V0z' fill='black' fill-rule='evenodd'/%3e%3c/svg%3e");
          background-repeat: no-repeat;
          transition: all 0.2s ease;
         // position: absolute;
          left: 50%;
          @include breakpoint(mediumplus){
            width: 39px;
            height: 39px;
            left: 34%;
          }


          &:hover{
            cursor: pointer;
            background-color: $black;
            background-image: url("data:image/svg+xml,%3csvg width='10' height='14' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10 7L0 14V0z' fill='white' fill-rule='evenodd'/%3e%3c/svg%3e");
          }
        }
      }
      // @include breakpoint(xlarge){
      //   &>:not(:last-child) {
      //     flex: 1;
      //   }
      // }




      @include breakpoint(mediumplus){
        flex-direction: row-reverse;
        justify-content: center;
      }
      form{
        margin-top: 50px;
        display: none;
      }
      .item-list{
        width: 100%;
        @include breakpoint(mediumplus){
          //width: 75%;
          @include grid-row();
          @include grid-column-gutter();
        }
        ul{
          margin: 0;
          display: flex;
          flex-wrap: wrap;
          padding-bottom: 15px;
          @include breakpoint(mediumplus){
            //margin-right: 50px;
            padding-bottom: 0;
          }
          @include breakpoint(large){
            //margin-right: 60px;
          }
        }
        li{
          list-style-type: none;
          @include breakpoint(mediumplus){
            &:first-child, &:nth-child(2){
            }
            &:nth-child(odd) {
              border-right: 0.5px solid black;
              border-bottom: 1px solid black;

            }

            &:nth-child(even) {
              border-left: 0.5px solid black;
              border-bottom: 1px solid black;

            }
            // &:nth-last-child(odd):last-child {
            //   padding-bottom: 50px;
            //   border-bottom: none;
            // }
            // &:nth-last-child(even):last-child {
            //   padding-bottom: 50px;
            //   border-bottom: none;
            // }

            &:last-child,
            &:nth-last-of-type(-n+2):not(:nth-child(even)) {

                border-bottom: none;
            }
          }

          @include flex-grid-column(1 of 1,0);
          @include breakpoint(smedium){
            @include flex-grid-column(1 of 2,0);
          }
          figcaption{
            div{
              display: block;
              font-size: 16px;
              text-align: center;
            }
          }
        }

      }
      .views-exposed-form{
        width: 100%;
        margin-bottom: 15px;
        @include breakpoint(mediumplus){
          width: 25%;
          margin-bottom: 0;
        }
        .form-radios{
          &:first-child{
            border-top: 1px solid $black;

          }
          &>div{
            border-bottom: 1px solid $black;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            label{
              width: 100%;
              height: 100%;
              padding: 5px 10px;
              text-align: center;
              font-family: $font-link;
              @include breakpoint(mediumplus){
                text-align: left;
              }
              @include breakpoint(large){
                padding: 10px;
              }
            }
            @include breakpoint(mediumplus){
              border-bottom: 1px solid $black;
              justify-content: flex-start;
            }
          }

        }
        label{
          font-family: $extra-font-family;
          letter-spacing: 3.23px;
          font-size: 14px;
          font-weight: 500;
          text-transform: uppercase;
          @include breakpoint(mediumplus){
            font-size: 16px;
          }
        }

        & label {
          display: inline-block;
          color: $black;
        }

        & input[type="radio"]+label{
          transition: all 0.2s ease;
        }

        & input[type="radio"]:checked+label,  & input[type="radio"]:hover+label{
          color: lighten($black, 60%);
        }


        .form-radio{
        visibility: hidden;
        }
      }
  }



  .reference.full{
    header{
      display: flex;
      margin-bottom: 100px;
      flex-direction: row;
      align-items: center;
      @include breakpoint(mediumplus down){
        flex-direction: column;
      }
      @include breakpoint(large){
        height: 525px;
        padding: 40px;
      }
    }
    .view-mode-full{
      width: 100%;
      text-align: center;
      @include breakpoint(medium){
        width: 75%;
      }
      @include breakpoint(large){
        width: 60%;
        padding: 0;
        height: 100%;
        border-right: 0.5px solid black;
        padding-right: 40px;
        text-align: left;
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
      h1{
        font-family: $extra-font-family;
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 5.12px;
        line-height: 41px;
        margin-bottom: 50px;
      }
      .field-item{
        letter-spacing: 1px;

      }
      a{
        margin: 50px auto;
        @include breakpoint(large){
          margin: 0;
          margin-top: 50px;
        }
      }
    }
    figure{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 15px;
      @include breakpoint(large){
        width: 40%;
        padding: 0;
        padding-left: 40px;
        height: 100%;
        margin-top: 0;
        border-left: solid 1px black;
      }
    }
    .field-name-field-images{
      .field-item{
        width: auto;
      }
    }
    .field-item{
      margin: 0 auto;
    }


  }


}




// @include breakpoint(mediumplus){
    //   display: flex;
    //   flex-direction: row-reverse;
    //   justify-content: space-between;
    //   align-items: flex-start;
    //   form{
    //     margin-top: 50px;
    //   }
    //   .item-list{
    //     width: 70%;
    //     ul{
    //       margin: 0;
    //     }
    //     li{
    //       list-style-type: none;
    //       @include flex-grid-column(1 of 2,0);
    //       figcaption{

    //         div{
    //           @include show-for-only(xlarge);
    //           display: block;
    //           font-size: 13px;
    //         }
    //       }
    //     }
    //   }
    //   .views-exposed-form{
    //     width: 25%;
    //     .form-radios{
    //       &:first-child{
    //         border-top: 2px solid $black;

    //       }
    //       &>div{
    //         border-bottom: 2px solid $black;
    //         padding-top: 10px;
    //       }

    //     }
    //     label{
    //       font-family: $extra-font-family;
    //       letter-spacing: 3.23px;
    //       font-size: 16px;
    //       font-weight: 500;
    //       text-transform: uppercase;
    //     }

    //     & label {
    //       display: inline-block;
    //       color: $black;
    //     }

    //     & input[type="radio"]+label{
    //       transition: all 0.2s ease;
    //     }

    //     & input[type="radio"]:checked+label,  & input[type="radio"]:hover+label{
    //       color: lighten(black, 60%);
    //     }


    //     .form-radio{
    //     visibility: hidden;
    //     }
    //   }
    // }

section.block-views-block-references-teasers{
  ul.pager__items{
    //margin-right: -77px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }
}


article.basic_page.full{

}
