{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  {% block content %}
    <a href="#" class="accordion-title">{{ content.field_title }}</a>
    <div class="accordion-content" data-tab-content>

      <div class="{{ content.field_afbeeldingen_4_[0] ? 'full-wrapper' }} half-wrapper">
        <div class="text-wrapper">
          {{ content.field_title }}
          {{ content.field_text }}
        </div>
        {% if content.field_afbeeldingen_4_[0] %}
          <div class="img-wrapper">
            {% if content.field_afbeeldingen_4_[0] %}
            {% set image1 = content.field_afbeeldingen_4_.0 %}
            {% set image1 = image1|merge({'#image_style': 'card'}) %}
            {{ image1 }}
            {% endif %}
            <div class="middle-wrapper">
              {% if content.field_afbeeldingen_4_[1] %}
              {% set image2 = content.field_afbeeldingen_4_.1 %}
              {% set image2 = image2|merge({'#image_style': 'card_half'}) %}
              {{ image2 }}
              {% endif %}
              {% if content.field_afbeeldingen_4_[2] %}
              {% set image3 = content.field_afbeeldingen_4_.2 %}
              {% set image3 = image3|merge({'#image_style': 'card_half'}) %}
              {{ image3 }}
              {% endif %}
            </div>
            {% if content.field_afbeeldingen_4_[3] %}
            {% set image4 = content.field_afbeeldingen_4_.3 %}
            {% set image4 = image4|merge({'#image_style': 'card'}) %}
            {{ image4 }}
            {% endif %}
          </div>
        {% endif %}
      </div>

    </div>
  {% endblock %}
{% endblock paragraph %}
