{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  {% if site_logo %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
      <svg width="260" height="50" viewBox="0 0 244.13 46.75" xmlns="http://www.w3.org/2000/svg"><path clip-rule="evenodd" d="M55.69 25.17v6.68c0 1.29.08 2.1.24 2.43s.44.6.83.8c.4.2 1.14.3 2.23.3v.65H46.8v-.65c1.1 0 1.85-.1 2.24-.31s.67-.47.83-.8.24-1.14.24-2.43V16.38c0-1.29-.08-2.1-.24-2.44-.16-.33-.44-.6-.84-.8s-1.14-.3-2.23-.3v-.64h11.07c2.88 0 4.99.2 6.33.6s2.43 1.13 3.27 2.21c.84 1.07 1.26 2.33 1.26 3.77 0 1.76-.63 3.21-1.9 4.36-.81.73-1.94 1.27-3.39 1.63l5.73 8.07c.75 1.04 1.28 1.69 1.6 1.95.48.36 1.04.56 1.67.6v.65h-7.5l-7.68-10.86h-1.57zm0-11.69v10.44h1c1.63 0 2.85-.15 3.66-.45s1.44-.84 1.91-1.62c.46-.78.69-1.8.69-3.05 0-1.82-.42-3.16-1.27-4.02-.85-.87-2.22-1.3-4.1-1.3zm32.66 15.77h-8.42l-1 2.32c-.33.77-.49 1.41-.49 1.92 0 .67.27 1.16.81 1.48.32.19 1.1.33 2.34.42v.65h-7.93v-.65c.86-.13 1.56-.48 2.11-1.06s1.23-1.78 2.04-3.59l8.52-19.02h.33l8.6 19.55c.82 1.85 1.49 3.02 2.02 3.5.4.36.96.57 1.69.63v.65H87.44v-.65h.47c.93 0 1.58-.13 1.95-.39.26-.19.39-.46.39-.81 0-.21-.04-.43-.11-.65-.02-.11-.2-.55-.53-1.32zm-.59-1.3l-3.55-8.21-3.66 8.21zm30.02-.04l6.47-15.71h9.7v.65h-.77c-.7 0-1.27.12-1.69.37-.29.16-.53.44-.7.83-.13.28-.19 1.01-.19 2.2v15.71c0 1.22.06 1.98.19 2.29s.39.57.79.8.93.34 1.6.34h.77v.65h-12.44v-.65h.77c.7 0 1.27-.12 1.69-.37.29-.16.53-.44.7-.84.13-.28.19-1.02.19-2.22V14.29l-9.14 21.74h-.42l-9.28-21.59v16.79c0 1.17.03 1.89.09 2.16.15.59.48 1.06.99 1.43s1.31.55 2.4.55v.65h-8.16v-.65h.25c.5.02 1.01-.07 1.48-.25.46-.18.8-.42 1.04-.73.23-.3.42-.73.54-1.28.02-.13.04-.73.04-1.79V16.24c0-1.21-.07-1.96-.19-2.26-.13-.3-.39-.56-.79-.79s-.93-.34-1.6-.34h-.76v-.65h9.74c-.01 0 6.69 15.71 6.69 15.71zm33.05 1.34h-8.42l-1 2.32c-.33.77-.49 1.41-.49 1.92 0 .67.27 1.16.81 1.48.32.19 1.1.33 2.34.42v.65h-7.93v-.65c.85-.13 1.56-.48 2.11-1.06s1.23-1.78 2.04-3.59l8.53-19.02h.33l8.6 19.55c.82 1.85 1.5 3.02 2.02 3.5.4.36.96.57 1.69.63v.65h-11.53v-.65h.47c.93 0 1.58-.13 1.95-.39.26-.19.39-.46.39-.81 0-.21-.04-.43-.11-.65-.02-.11-.2-.55-.53-1.32zm-.6-1.3l-3.55-8.21-3.66 8.21zm35.6-.28l-.9 8.37h-21.16v-.65h.79c.69 0 1.25-.12 1.67-.37.31-.16.54-.44.7-.84.13-.28.19-1.02.19-2.22V16.27c0-1.22-.06-1.98-.19-2.28-.13-.31-.39-.57-.78-.8s-.92-.34-1.59-.34h-.79v-.65h12.71v.65h-1.04c-.69 0-1.25.12-1.67.37-.31.16-.54.44-.72.84-.13.28-.19 1.02-.19 2.22v15.19c0 1.22.07 2 .21 2.33s.42.58.83.75c.29.1 1 .16 2.13.16h1.99c1.27 0 2.32-.22 3.16-.67s1.57-1.15 2.19-2.11 1.2-2.38 1.75-4.25zm3.38-15.47h12.31v.65h-.62c-.93 0-1.56.1-1.91.29s-.59.46-.74.8-.22 1.19-.22 2.55v11.67c0 2.13.16 3.55.48 4.24s.85 1.27 1.59 1.72c.74.46 1.67.69 2.79.69 1.29 0 2.39-.29 3.3-.87s1.59-1.38 2.04-2.4.68-2.8.68-5.33v-9.72c0-1.07-.11-1.83-.33-2.29s-.5-.77-.84-.95c-.53-.27-1.27-.4-2.23-.4v-.65h8.24v.65h-.49c-.67 0-1.23.14-1.67.4-.45.27-.77.67-.97 1.21-.15.38-.23 1.05-.23 2.02v9.05c0 2.8-.18 4.82-.55 6.06s-1.27 2.39-2.7 3.43-3.38 1.56-5.85 1.56c-2.06 0-3.66-.27-4.78-.83-1.54-.75-2.62-1.71-3.25-2.88s-.95-2.75-.95-4.73V16.49c0-1.37-.07-2.22-.23-2.56-.15-.33-.42-.6-.79-.8-.38-.2-1.07-.29-2.07-.28-.01 0-.01-.65-.01-.65zm41.61 9.86l6.57 9.76c1.09 1.62 1.87 2.6 2.33 2.95.46.34 1.01.55 1.64.62v.65h-11.62v-.65c.93-.07 1.52-.21 1.79-.42s.4-.47.4-.77c0-.21-.04-.4-.12-.56-.16-.35-.57-1.01-1.23-1.97l-3.48-5.15-3.64 4.45c-1.09 1.35-1.63 2.26-1.63 2.74 0 .34.14.66.42.95s.7.5 1.25.63c.25.07.75.11 1.51.11v.65h-9.16v-.65c1.04-.15 1.86-.43 2.46-.84.79-.54 1.88-1.66 3.29-3.38l4.73-5.77-6.06-8.91c-1-1.46-1.57-2.28-1.71-2.44-.32-.39-.63-.66-.93-.83-.3-.16-.73-.29-1.27-.37v-.66h11.83v.65h-.6c-.68 0-1.15.11-1.42.33s-.4.49-.4.82c0 .26.04.48.12.67l1.21 1.83 2.95 4.5 2.51-3.08c1.29-1.58 1.93-2.69 1.93-3.32 0-.32-.09-.61-.27-.88-.2-.28-.47-.5-.78-.63-.34-.15-.87-.23-1.58-.23v-.66h8.77v.65c-.69.01-1.25.1-1.67.25-.42.16-.87.45-1.35.89-.3.28-1.07 1.15-2.29 2.62.01 0-4.5 5.45-4.5 5.45z" fill-rule="evenodd"/><path d="M5.09 16.67v25.09h11.39V16.67zm10.66 12.18h-4.6V17.39h4.6zm-5.33-11.46v11.45h-4.6V17.39zm-4.6 12.19h4.61v11.45H5.82zm5.33 11.45V29.58h4.6v11.45zM18.74 41.75h11.39V16.67H18.74zm.73-12.17h4.61v11.45h-4.61zm5.34 11.45V29.58h4.6v11.45zm4.6-12.18h-4.6V17.39h4.6zm-5.33-11.46v11.45h-4.61V17.39z"/><path d="M17.61 3.04c-7.8 0-14.14 6.34-14.14 14.14v26.09h28.28V17.18c0-7.8-6.34-14.14-14.14-14.14zm13.28 12.23h-12.4l8.02-8.12c2.32 2.06 3.92 4.91 4.38 8.12zM17.98 3.77c3.01.08 5.77 1.16 7.97 2.91l-7.97 8.07zm-.73 10.98L9.27 6.68c2.2-1.75 4.96-2.83 7.97-2.91v10.98zm-8.54-7.6l8.02 8.12H4.34c.46-3.21 2.06-6.06 4.37-8.12zM4.2 17.18c0-.4.02-.79.05-1.18h12.99v26.53H4.2zm26.82 25.35H17.98V16h12.99c.03.39.05.78.05 1.18z"/></svg>
    </a>
  {% endif %}
{% endblock %}
